@model IEnumerable<LanchesMac.Models.Snack>

<div>
    <h2>Todos os lanches</h2>
</div>

@foreach (var snack in Model)
{
    <div>
        <h4>@snack.Name</h4>
        <p><img src="@snack.ImageUrl" /></p>
        <p>Preço : @snack.Price.ToString("c")</p>
    </div>
}
